<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationOrderActivity"
            android:exported="false" />
        <activity
            android:name=".OrderSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ViewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".navigationBar"
            android:exported="true"
            android:label="@string/title_activity_navigation_bar" />
        <activity
            android:name=".landingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".Account" />
        <activity android:name=".orderHistory" />
        <activity android:name=".CartActivity" />
        <activity android:name=".changePassword" />
        <activity android:name=".rice_page" />
        <activity android:name=".Reservation_home" />
        <activity android:name=".reservation_page" />
        <activity android:name=".noodle_page" />
        <activity android:name=".dessert_page" />
        <activity android:name=".drink_page" />
        <activity android:name=".reservation_form" />
    </application>

</manifest>